body {
  background-color: gray;
  font-family:  Courier, monospace;
  }

header {
  background-color: greenyellow;
  padding: 40px 0px 40px 25px;
  box-shadow:  inset 0 5px 15px 2px black;
}

.link-header {
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none;
}

nav {
  padding: 35px 40px 0px 40px;
}

.link-nav {
  color:purple;
  font-size: 24px;
  margin-right: 35px;
  text-decoration: none;
  border-bottom: 2px solid purple;
  font-family: comic sans;
}

h1 {
  text-align: center;
  color: #2AB428;
  font-size: 96px;
}

p {
  font-size: 24px;
  margin-left: 60px;
}

ul {
  font-size: 24px;
  list-style: url("https://www.flaticon.com/ru/free-icon/imac_644422");
  margin-left: 60px;
}

li {
  margin-bottom: 20px;
}

ol {
  font-size: 24px;
  margin-left: 60px;
}

.text-big {
  font-size: 48px;
  margin-left: 60px;
}
  
.link-text {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

h2 {
  color: #006363;
  font-size: 64px;
}

footer {
  padding: 65px 0px 80px 80px;
}

.social {
  margin-right: 60px;
}
.link-nav:hover{
  color: goldenrod;
}
